POSTGRES_USER=airflow
POSTGRES_PASSWORD=change_me
POSTGRES_DB=airflow

AIRFLOW__CORE__EXECUTOR=LocalExecutor
AIRFLOW__DATABASE__SQL_ALCHEMY_CONN=postgresql+psycopg2://airflow:change_me@postgres/airflow
AIRFLOW__CORE__FERNET_KEY=generate_with_cryptography_fernet
AIRFLOW__CORE__LOAD_EXAMPLES=False

_AIRFLOW_WWW_USER_USERNAME=admin
_AIRFLOW_WWW_USER_PASSWORD=change_me
